html {
    min-height:100%;
}

body {
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    background-attachment: fixed;
}

.tab-content {
    margin-top: 60px;
}